body {font-family: Arial, Helvetica, sans-serif; }

.sidebar{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a{
    padding: 100px, 12px, 6px, 20px;
    text-decoration: none;
    font-size: 20px;
    color:white;
    display: block;
}

.sidebar a :hover {
    color: aliceblue;
}

.main{
    margin-left: 160px;
    padding: 0px, 10px;
}

@media  (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18 px;}
}

